<style>
  .browse {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    align-items: center;
    justify-content: center;
  }

  .search-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  input[type="text"] {
    width: 500px;
    padding: 10px 15px;
    font-size: 1.2em;
    border: 2px solid #ccc;
    border-radius: 15px 0 0 15px;
    outline: none;
  }

  .search-button {
    padding: 10px 20px;
    font-size: 1.2em;
    border: 2px solid #28a745;
    border-left: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    outline: none;
  }

  .search-button:hover {
    background-color: #218838;
  }

  .me-button {
    padding: 10px 20px;
    font-size: 1.2em;
    border: 2px solid #28a745;
    border-left: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
  }

  .me-button:hover {
    background-color: #218838;
  }
</style>
<div class="browse">
  <h1>Welcome to My Portfolio and GitHub Explorer</h1>
  <p>
    This site serves as both my personal portfolio and a dynamic GitHub profile viewer. Explore my global README to learn about me, or dive into individual project READMEs to see my work in detail.<br><br>
    Looking for a GitHub profile? Use the search bar above for quick access to any GitHub user's profile, including repositories and project READMEs.<br><br>
    Start your journey now and discover the open-source world at your fingertips!<br>
  </p>
  <p id="404" style="color: red; display: none;">account not found</p>
  <div class="search-box">
    <input id="searchInput" type="text" placeholder="Type a github pseudo..." />
    <button id="searchButton" class="search-button" type="button">Find</button>
  </div>
  <p>Quick link to my profile:</p>
  <button id="meButton" class="me-button">me</button>
</div>
<script>
  document.getElementById("searchButton").addEventListener("click", submit);
  document.getElementById('searchInput').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
               submit()
            }
        });
  function submit() {
    const input = document.getElementById("searchInput").value.trim();
    if (input === "") {
      return;
    }
    fetch(`/new-username/${encodeURIComponent(input)}`, { method: "GET" })
      .then((response) => {
        if (response.status === 200) {
          document.getElementById("404").style.display = "none"; 
          window.location.href = "/about"; 
        } else {
          document.getElementById("404").style.display = "block"; 
        }
      })
      .catch((error) => {
        console.error("Network error:", error);
        document.getElementById("404").style.display = "block";
      });
  }

  document.getElementById("meButton").addEventListener("click", function () {
    fetch("/new-username/tgrangeo", {
      method: "GET",
    })
      .then((response) => {
        if (response.ok) {
          return response.text();
        } else {
          throw new Error("Erreur lors de la récupération du profil");
        }
      })
      .then((data) => {
        location.reload();
      })
      .catch((error) => {
        alert(error.message);
      });
  });
</script>
