<!DOCTYPE html>
<html lang="en" class="light-theme">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tgrangeo</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- htmx -->
    <script
      src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.js"
      integrity="sha384-Xh+GLLi0SMFPwtHQjT72aPG19QvKB8grnyRbYBNIdHWc2NkCrz65jlU7YrzO6qRp"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
	<h1>hello home</h1>
	<button hx-post="/user/tgrangeo" hx-push-url="/user/tgrangeo" hx-target="body" hx-swap="outerHTML">Go to Home</button>
</body>
</html>
