/* Theme variables */
:root {
  --light-background-color: #ebebeb;
  --light-text-color: #0d0d0d;
  --light-color: #0d0d0d;

  --dark-background-color: #0d0d0d;
  --dark-text-color: #ebebeb;
  --dark-color: #ebebeb;
}

/* Default to Light Theme */
html.light-theme {
  --background-color: var(--light-background-color);
  --text-color: var(--light-text-color);
  --color: var(--light-color);
}

/* Dark Theme */
html.dark-theme {
  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
  --color: var(--dark-color);
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

img {
  max-width: 100%;
}

.title {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2vw;
  img {
    margin-right: 5px;
  }
}

.header button {
  font-size: 22px;
}

.content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: row !important;
}

.side button,
.menu button {
  padding: 5px;
  margin-bottom: 0.5vh;
  border: none;
  color: var(--color);
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.side button:hover,
.menu button:hover {
  background: var(--color);
  color: var(--background-color);
  border-radius: 8px;
}

ul {
  list-style-type: none;
}
.side {
  width: 20vw;
}

#project-readme {
  width: 73vw;
  margin-right: 5vw;
}

.theme-button {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.theme-button:active {
  transform: scale(0.9);
}

.profile-picture {
  border-radius: 50%;
  border: 2px solid black;
  width: 70px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  * {
    margin-right: 0.5vw !important;
  }
}

.footer {
  padding:40px 0;
}

.footer .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  margin-bottom:0;
}

