.projects {
    button {
        font-size: 24px;
        background: none;
        border: none;
        color: aliceblue;
        cursor: pointer;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    li {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 15px;
        padding: 10px;
        margin: 1vh;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    li:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    }
}